{% extends 'CoreBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="large-6 large-centered columns">
            <h2>list all organization here</h2>
        </div>
        {% for organization in organizations %}
            <div class="row">
                <div class="large-3 columns">
                    {{ organization.id }}
                </div>
                <div class="large-3 columns">
                    {{ organization.name }}
                </div>
                <div class="large-3 columns">
                    {{ organization.creationDate|date('d-m-Y') }}
                </div>
                <div class="large-3 columns">
                    <a href="{{ path('organization_show', {'organizationId': organization.id} ) }}">Show organization</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
